
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background: rgb(219, 194, 165);
  font-size: 24px;

}

header { 
  padding: 20px;
  margin 20 20;
  margin-bottom: 0;
  color: rgb(206, 206, 206);
  background: rgb(68, 68, 68);
}

section {
  float: left;
  width: 33%;
  width: 100%;
}

#left {
  background: blue;
}

#middle {
  background: yellow;
}

#right {
  background: red;
}

#full {
}

#division {
}

aside {
  background: purple
  float
}

footer {
  float: bottom;
  margin-top: 5%;
  background: black;
}
